{% extends 'base.html.twig' %}

{% block body %}
    {% if customPageInfo is defined %}
        <div class="card border-secondary text-white mb-2">
            {% if customPageInfo.picturePath != "" %}
                <img class="card-img headerImage mainImage" src="{{ asset('uploads/') ~ customPageInfo.picturePath }}" alt="Card image">
            {% else %}

            {% endif %}
            <div class="card-img-overlay">
                <h1 class="card-title centered headerTitle">{{ customPageInfo.title }}</h1>
            </div>
        </div>
        <div class="jumbotron container">
            <p class="card-text">{{ customPageInfo.body | raw }}</p>
            <p class="card-text">{{ customPageInfo.submitDate }} door {{ customPageInfo.author }}</p>
        </div>
        {% if customPageInfo.fileNames %}
            <div>
                <ul class="list-group">
                    {% for file in customPageInfo.fileNames %}
                        <li class="list-group-item d-flex justify-content-between align-items-center ">
                            <h5>{{ file }}</h5>
                            <a class="btn btn-outline-success" href="{{ asset('uploads/')}}{{ customPageInfo.filePaths[loop.index0] }}">
                                <i class="fas fa-download"></i>&nbsp;&nbsp;
                                  Download
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}


        {% if form is defined %}
            <hr>
            <div>
                {% if formTitle is defined%}
                    <h3 class="card-title text-center">{{ formTitle }}</h3>
                {% endif %}
                {{ form_start(form) }}
                <div>
                    <hr>
                    {{ form_widget(form) }}
                </div>
                {{ form_end(form) }}
            </div>
        {% endif %}

    {% endif %}
{% endblock %}

{% block javascripts %}

{% endblock %}