{% extends 'base.html.twig' %}

{% block body %}
    {% if homePageEnabledPages is defined %}
        <div class="container " >
            <div class="d-flex flex-column" >
                <div class="d-flex justify-content-center w-100">
                    <h1>Duikclub Dolfijn</h1>
                </div>
                <hr class="my-3 " style="width:50%" color="lightgray"/>
                <div class="d-flex justify-content-between w-100">
                    <p class="text-center">
                        Welkom op de website van Bilzer Duikclub Dolfijn.
                        <br/>
                        <br/>
                        Wil je leren duiken of gewoon gezellig duiken in een aangename clubsfeer, dan zit je hier goed.
                        <br/>
                        <br/>
                        Wij zijn in de eerste plaats een gezellige duikclub die sportduikers
                        alle mogelijkheden geeft om hun hobby uit te oefenen.
                        Daarnaast is Dolfijn ook een duikschool met ervaren instructeurs en duikers
                        die met veel plezier helpen bij de eerste en verdere stappen onder water.
                        <br/>
                        <br/>
                        Onze thuisbasis is het Stedelijk Zwembad De Kimpel in Bilzen. <a href="https://www.google.com/search?q=kimpel&oq=kimpel&aqs=chrome..69i57j0l7.1927j0j4&sourceid=chrome&ie=UTF-8&tbs=lrf:!1m4!1u2!2m2!2m1!1e1!2m1!1e2!2m4!1e17!4m2!17m1!1e2!3sIAE,lf:1,lf_ui:2&tbm=lcl&sxsrf=ALeKk00enXsIj2B6xSVd_eSWoYOcnUTxmA:1612452073814&rflfq=1&num=10&rldimm=18091021996829287327&lqi=CgZraW1wZWxIqv2mnOaAgIAIWhoKBmtpbXBlbBAAGAAiBmtpbXBlbCoECAIQAJIBD2N1bHR1cmFsX2NlbnRlcg&ved=2ahUKEwjiyM6IxNDuAhWB2KQKHd_HD8QQvS4wBXoECAIQIQ&rlst=f#rlfi=hd:;si:18091021996829287327,l,CgZraW1wZWxIqv2mnOaAgIAIWhoKBmtpbXBlbBAAGAAiBmtpbXBlbCoECAIQAJIBD2N1bHR1cmFsX2NlbnRlcg;mv:[[50.86610397731903,5.51245626352307],[50.865744022680964,5.51188593647693]]">(toon kaart)</a>
                        Daar wordt elke dinsdagavond van 21u30 tot 22u30 geoefend.
                        We stellen hiervoor allerhande materiaal gratis ter beschikking.
                        <br/>
                        <br/>
                        Op deze site vind je alle info over Dolfijn,
                        zoals een kalender met uitstappen,de laatste nieuwtjes enz...
                        <br/>
                        <br/>
                        Veel Plezier ermee ;-)
                    </p>
                </div>

            </div>

            <hr class="my-3 " style="width:50%" color="lightgray"/>
            <div class="col-sm-100  w-100">
                <div class="jumbotron" style="background: none">
                    <div class="row mt-5">
                                <div class="col">
                                    <h1 class="display-5">Gratis duikinitiatie</h1>
                                    <hr class="my-4">
                                    <div class="card-text mb-0 w-100">
                                        Wil je vooraf al eens proberen tijdens een gratis initiatie in het zwembad te Bilzen dan kan dat.
                                        Je krijgt er ondermeer uitleg over de verschillende opleidingen, het lidmaatschap, de kosten, ... <br/>
                                        Daarna bieden we je de mogelijkheid om een en ander eens in het water uit te proberen en om zelfs met een duikfles rond te zwemmen.
                                        Wil je deelnemen of wil je eerst wat meer info, ga dan naar de link hieronder.
                                    </div>
                                    <p class="lead">
                                        <a href="{{ path('leerDuiken') }}" class="card-link">Lees meer</a>
                                    </p>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img class="card-image rounded border-primary shadow-lg w-100" src="{{ asset('homePageImages/pexels-tom-fisk-1125979.jpg') }}" alt="Card image">
                                    </div>
                                </div>
                    </div>
                    <div class="row mt-5">
                                <div class="col">
                                    <div class="card">
                                        <img class="card-image rounded border-primary shadow-lg w-100"src="{{ asset('homePageImages/pexels-pia-3046637.jpg') }}" alt="Card image">
                                    </div>
                                </div>
                                <div class="col">
                                    <h1 class="display-5">Clubduiken</h1>
                                    <hr class="my-4">
                                    <div class="card-text mb-0 w-100">
                                        Duikclub Dolfijn organiseert wekelijks duiken op duikplaatsen in onze regio, onder meer:

                                        <dl class="row">
                                            <dt class="col-sm-4">Steengroeven</dt>
                                            <dd class="col-sm-8">
                                                <p>
                                                    Esneux Sprimont, Vodelée, Barges, …
                                                </p>
                                            </dd>

                                            <dt class="col-sm-4">Zandputten</dt>
                                            <dd class="col-sm-8">
                                                <p>
                                                    Zilvermeer, Boschmolenplas, Thorn,
                                                </p>
                                            </dd>

                                            <dt class="col-sm-4">Zeeland</dt>
                                            <dd class="col-sm-8">
                                                <p>
                                                    Oosterschelde, Veerse Meer, Grevelingenmeer,…
                                                </p>
                                                <p>
                                                    afhankelijk van de duikers passen wij de locatie aan
                                                </p>
                                            </dd>

                                            <dt class="col-sm-4">Noordzee</dt>
                                            <dd class="col-sm-8">
                                                <p>
                                                    (voor gevorderden)
                                                </p>
                                            </dd>

                                            <dt class="col-sm-4">En jaarlijkse een clubreis</dt>
                                            <dd class="col-sm-8">
                                                <p>
                                                    Egypte, Frankrijk, Spanje, Italië, Malediven, Bonaire, …
                                                </p>
                                            </dd>
                                        </dl>

                                        Tijdens deze clubduiken kunnen duikers in opleiding de nodige ervaring opdoen en eventuele proeven afleggen.
                                    </div>
                                    <p class="lead">
                                        <a href="#" class="card-link">Lees meer</a>
                                    </p>
                                </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col">
                            <div class="w-100">
                                <h1 class="display-5">Ik kan al duiken</h1>
                                <hr class="my-4">
                                <div class="card-text mb-0 w-100">
                                    <p>
                                        Ook personen die reeds kunnen duiken, en dus in het bezit zijn van een duikbrevet, kunnen bij Dolfijn terecht.
                                        Afhankelijk van het brevet en de organisatie waar zij dit brevet hebben behaald, zullen zij worden ingeschaald naar een van de bestaande NELOS-brevetten.
                                        Deze inschaling kan een louter administratieve inschaling zijn of een kort examen en een duik met een van onze instructeurs.
                                        Contacteer onze duikschoolleider voor meer informatie.
                                    </p>
                                </div>
                                <p class="lead">
                                    <a href="#" class="card-link">Lees meer</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col">
                            <div class="card">
                                <img class="card-image rounded border-primary shadow-lg w-100" src="{{ asset('homePageImages/WhatsApp Image 2021-02-04 at 18.04.46.jpeg') }}" alt="Card image">
                            </div>
                        </div>
                        <div class="col">
                            <h1 class="display-5">Training</h1>
                            <hr class="my-4">
                            <div class="card-text mb-0 w-100">
                                Zwembadtrainingen gaan door in het zwembad 'De Kimpel’ op dinsdag van 21.45 tot 22.45. Van begin juli t.e.m. mid-september wordt er niet getraind maar telkens een buitenduik gedaan.

                                	be/training

                                Indien je lessen volgt en je kan door omstandigheden niet aanwezig zijn, gelieve dan even een seintje te geven aan de trainer.
                                Na de training is er steeds ruimte voor een gezellige babbel in de cafetaria.

                                Praktijklessen
                                Denk er aan:
                                - het water wordt pas betreden na instemming van de redder;
                                - laat geen waardevolle spullen achter in de kleedkamers;
                                - training met duikflessen gebeurt steeds onder toezicht van een trainer;
                                - apneus worden minstens per twee uitgevoerd;

                                Theorielessen
                                De theorielessen vinden plaats in de daartoe ingerichte theorielokalen.

                                De lessenroosters en schema's worden door de verantwoordelijke van de opleiding bezorgd aan de kandidaten.

                                Meestal worden de theorielessen voor de zwembadtraining gegeven, maar in samenspraak tussen opleiders en kandidaten kan daar van afgeweken worden.

                            </div>
                            <p class="lead">
                                <a href="#" class="card-link">Lees meer</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jumbotron" style="background: none">
                <div class="row justify-content-md-center">
                    {% for page in homePageEnabledPages %}
                        <div class="col-lg-6 p-2">
                            <div class="button-content border rounded albumCover" style="background-image: url({{ asset('uploads/') ~ page.picturePath }});">
                                <table class="button-table w-100">
                                    <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <a href="/page/{{ page.id }}" class="foto-link">
                                                <span class="align-middle button-text centered">{{ page.navigationText }}</span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
    {% endif %}
{% endblock %}

{% block javascripts %}

{% endblock %}