{% extends 'base.html.twig' %}

{% block body %}
    {% set role = 0 %}
    {% if app.user %}
        {% if 'ROLE_INST' in app.user.roles %}
            {% set role = 1 %}
        {% endif %}
    {% endif %}
    {% if kalenderItem %}

        <div class="jumbotron">
            {% if app.user %}
                {% if app.user in users %}
                    <div class="alert alert-info centered">
                        U bent ingeschreven voor dit evenement.
                    </div>
                {% endif %}
            {% endif %}
            <h1 class="display-3">{{ kalenderItem.title }}</h1>

            <div>
                {% if kalenderItem.startDate|date("m/d/Y") == kalenderItem.endDate|date("m/d/Y") %}
                    <p class="lead">{{ kalenderItem.startDate|format_datetime('full', 'none', locale='nl') }} van {{ kalenderItem.startDate|format_datetime(pattern="HH:mm") }} tot {{ kalenderItem.endDate|format_datetime(pattern="HH:mm") }}</p>
                {% else %}
                    <p class="lead">van {{ kalenderItem.startDate|date("m/d/Y") }} om {{ kalenderItem.startDate|format_datetime(pattern="HH:mm") }} tot {{ kalenderItem.endDate|date("m/d/Y") }} om {{ kalenderItem.endDate|format_datetime(pattern="HH:mm") }}</p>
                {% endif %}
            </div>

            <p class="lead">{{ kalenderItem.description }}</p>
            <hr class="my-4">
            <p>{{ kalenderItem.details | raw }}</p>
            <p class="lead blockquote-footer">{{ kalenderItem.submitDate }} door {{ kalenderItem.author }}</p>

            {% if app.user %}
                {% if app.user in users %}
                {% else %}
                    {% if kalenderItem.subscriptionDateExpired%}
                        <div class="alert alert-danger">
                            <strong>Oeps!</strong> Het ziet er naar uit dat de inschrijvingen voor dit evenement gesloten zijn.
                        </div>
                    {% elseif kalenderItem.maxSubscriptionsReached %}
                        <div class="alert alert-danger">
                            <strong>Oeps!</strong> Het ziet er naar uit dat de inschrijvingen voor dit evenement vol zitten.
                        </div>
                    {% else %}
                        <a class="btn btn-info" href="{{ path('subUser', {'calId': kalenderItem.id, 'userId': app.user.id }) }}">
                            <i class="fas fa-pen"></i>&nbsp;&nbsp;
                            Inschrijven
                        </a>
                    {% endif %}
                {% endif %}
                {% if role %}
                    <a class="btn btn-warning" href="{{ path('editCalItem', {'id': kalenderItem.id}) }}">
                        <i class="fas fa-edit"></i>&nbsp;&nbsp;
                        Edit
                    </a>
                    <a class="btn btn-danger" href="{{ path('removeCalItem', {'id': kalenderItem.id }) }}">
                        <i class="fas fa-trash"></i>&nbsp;&nbsp;
                        Delete
                    </a>
                {% endif %}
            {% endif %}
        </div>
        <div>
            {% if app.user %}
                {% if users[0] is defined%}
                    <h1 class="text-center m-5">
                        Inschrijvingen
                    </h1>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Naam</th>
                            <th scope="col">Email</th>
                            {% if role %}
                                <th scope="col">Remove</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                {% if role %}
                                    <td><a class="btn btn-danger" href="{{ path('removeSub', {'calId': kalenderItem.id, 'userId': user.id }) }}">
                                            <i class="fas fa-trash"></i>&nbsp;&nbsp;
                                            Delete
                                        </a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        {{ knp_pagination_render(users) }}
                    </div>
                {% else %}
                    <div class="d-flex justify-content-center w-100">
                        <h5>Er zijn nog geen inschrijvingen.</h5>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}

{% endblock %}