{% extends 'base.html.twig' %}

{% block body %}

    {% set role = 0 %}
    {% if app.user %}
        {% if 'ROLE_INST' in app.user.roles %}
            {% set role = 1 %}
        {% endif %}
    {% endif %}

    {% if role %}
        <div class="text-center mb-3">
            <a class="btn btn-primary" href="{{ path('addCalItem') }}">
                <i class="far fa-calendar-plus"></i>&nbsp;&nbsp;
                Evenement toevoegen
            </a>
        </div>
    {% endif %}

    {% if calenderItems %}
        <div class="p-0 row">
            {% for item in calenderItems %}
                <div class="col-4 h-25">
                    <div class="card border-primary mb-3" style="max-width: 20rem; height: 240px;">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            {{ item.title }}
                            {% if item.CalenderType==0 %}
                            <span class="badge badge-pill badge-primary">Duiken</span>
                                {% elseif item.CalenderType==1 %}
                            <span class="badge badge-pill badge-success">Lessen/trainingen</span>
                                {% elseif item.CalenderType==2 %}
                            <span class="badge badge-pill badge-danger">Activiteiten</span>
                                {% else %}
                                {% endif %}
                        </div>
                        <div class="card-body">
                            {% if item.startDate|date("m/d/Y") == item.endDate|date("m/d/Y") %}
                                <h5 class="card-title">{{ item.startDate|format_datetime('full', 'none', locale='nl') }}</h5>
                                <h5 class="card-title">van {{ item.startDate|date("g:i") }} tot {{ item.endDate|date("g:i") }}</h5>
                            {% else %}
                                <h5 class="card-title">{{ item.startDate|date("m/d/Y") }} - {{ item.endDate|date("m/d/Y") }}</h5>
                            {% endif %}
                            <p class="card-text">{{ item.description }}</p>
                            <a class="btn btn-link" href="/kalender/{{ item.id }}">details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div style="display: flex; justify-content: center; align-items: center;">
        {{ knp_pagination_render(calenderItems) }}
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}