{% extends 'base.html.twig' %}

{% block body %}
    {% set role = 0 %}
    {% if app.user %}
        {% if 'ROLE_INST' in app.user.roles %}
            {% set role = 1 %}
        {% endif %}
    {% endif %}
    {% if kalenderItem %}

        <div class="jumbotron">
            {% if app.user %}
                {% if app.user in users %}
                    <div class="alert alert-info centered">
                        U bent ingeschreven voor dit evenement.
                    </div>
                {% endif %}
            {% endif %}
            <h1 class="display-3">{{ kalenderItem.title }}</h1>

            <span class="d-flex justify-content-between">
                <div>
                    {% if kalenderItem.startDate|date("m/d/Y") == kalenderItem.endDate|date("m/d/Y") %}
                        <p class="lead text-left">{{ kalenderItem.startDate|format_datetime('full', 'none', locale='nl') }} van {{ kalenderItem.startDate|format_datetime(pattern="HH:mm") }} tot {{ kalenderItem.endDate|format_datetime(pattern="HH:mm") }}</p>
                    {% else %}
                        <p class="lead text-left">van {{ kalenderItem.startDate|date("d/m/Y") }} om {{ kalenderItem.startDate|format_datetime(pattern="HH:mm") }} tot {{ kalenderItem.endDate|date("d/m/Y") }} om {{ kalenderItem.endDate|format_datetime(pattern="HH:mm") }}</p>
                    {% endif %}

                    <p class="lead text-left">{{ kalenderItem.description }}</p>
                </div>
                <div>
                    <p class="lead text-right"> einddatum inschrijvingen {{ kalenderItem.subscriptionEndDate|date("d/m/Y") }}</p>
                    <p class="lead text-right">
                        {% if kalenderItem.maxSubscriptions - (subscribed|length) == 1 and kalenderItem.maxSubscriptions > 0 %}
                            {{ kalenderItem.maxSubscriptions - (subscribed|length) }} vrije plaats
                        {% elseif kalenderItem.maxSubscriptions - (subscribed|length) > 1 and kalenderItem.maxSubscriptions > 0 %}
                            {{ kalenderItem.maxSubscriptions - (subscribed|length) }} vrije plaatsen
                        {% elseif kalenderItem.maxSubscriptions > 0 %}
                            volzet
                        {% endif %}
                    </p>
                </div>
            </span>
            <hr class="my-4">
            <p>{{ kalenderItem.details | raw }}</p>
            <p class="lead blockquote-footer">{{ kalenderItem.submitDate }} door {{ kalenderItem.author }}</p>

            {% if app.user %}
                {% if app.user in users %}
                {% else %}
                    {% if kalenderItem.subscriptionDateExpired%}
                        <div class="alert alert-danger">
                            <strong>Oeps!</strong> Het ziet er naar uit dat de inschrijvingen voor dit evenement gesloten zijn.
                        </div>
                    {% elseif kalenderItem.maxSubscriptionsReached and kalenderItem.maxSubscriptions > 0 %}
                        <div class="alert alert-danger">
                            <strong>Oeps!</strong> Het ziet er naar uit dat de inschrijvingen voor dit evenement vol zitten.
                        </div>
                    {% elseif kalenderItem.maxSubscriptions > 0 %}
                        <a class="btn btn-info" href="{{ path('subUser', {'calId': kalenderItem.id, 'userId': app.user.id }) }}">
                            <i class="fas fa-pen"></i>&nbsp;&nbsp;
                            Inschrijven
                        </a>
                    {% endif %}
                {% endif %}
                {% if role %}
                    <a class="btn btn-warning" href="{{ path('editCalItem', {'id': kalenderItem.id}) }}">
                        <i class="fas fa-edit"></i>&nbsp;&nbsp;
                        Edit
                    </a>
                    <a class="btn btn-danger" href="{{ path('removeCalItem', {'id': kalenderItem.id }) }}">
                        <i class="fas fa-trash"></i>&nbsp;&nbsp;
                        Delete
                    </a>
                {% endif %}
            {% endif %}
        </div>
        <div>
            {% if app.user %}
                {% if not(subscribed is empty) and kalenderItem.maxSubscriptions > 0 %}
                    <h1 class="text-center m-5">
                        Inschrijvingen
                    </h1>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Naam</th>
                            <th scope="col">Email</th>
                            {% if role %}
                                <th scope="col">Naar wachtlijst</th>
                                <th scope="col">Remove</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for sub in subscribed %}
                            <tr>
                                <td>{{ sub.user.username }}</td>
                                <td>{{ sub.user.email }}</td>
                                {% if role %}
                                    <td><a class="btn btn-warning" href="{{ path('demoteSub', {'calId': kalenderItem.id, 'userId': sub.user.id }) }}">
                                            <i class="fas fa-clipboard-list"></i>&nbsp;&nbsp;
                                            Naar wachtlijst
                                        </a></td>
                                    <td><a class="btn btn-danger" href="{{ path('removeSub', {'calId': kalenderItem.id, 'userId': sub.user.id }) }}">
                                            <i class="fas fa-trash"></i>&nbsp;&nbsp;
                                            Delete
                                        </a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% elseif kalenderItem.maxSubscriptions > 0  %}
                    <div class="d-flex justify-content-center w-100">
                        <h5>Er zijn nog geen inschrijvingen.</h5>
                    </div>
                {% else %}
                    <div class="d-flex justify-content-center w-100">
                        <h5>Dit evenement laat geen inschrijvingen toe.</h5>
                    </div>
                {% endif %}


                {% if not(awaiting is empty) and kalenderItem.maxSubscriptions > 0 %}

                    <h1 class="text-center m-5">
                        Wachtlijst
                    </h1>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Naam</th>
                            <th scope="col">Email</th>
                            {% if role %}
                                <th scope="col">Inschrijven</th>
                                <th scope="col">Remove</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for sub in awaiting %}
                            <tr>
                                <td>{{ sub.user.username }}</td>
                                <td>{{ sub.user.email }}</td>
                                {% if role %}
                                    <td><a class="btn btn-info" href="{{ path('promoteSub', {'calId': kalenderItem.id, 'userId': sub.user.id }) }}">
                                            <i class="fas fa-pen"></i>&nbsp;&nbsp;
                                            Inschrijven
                                        </a></td>
                                    <td><a class="btn btn-danger" href="{{ path('removeSub', {'calId': kalenderItem.id, 'userId': sub.user.id }) }}">
                                            <i class="fas fa-trash"></i>&nbsp;&nbsp;
                                            Delete
                                        </a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                {% elseif kalenderItem.maxSubscriptions > 0  %}
                    <div class="d-flex justify-content-center w-100">
                        <h5>De wachtlijst is leeg.</h5>
                    </div>
                {% endif %}

            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}

{% endblock %}