{% extends 'base.html.twig' %}

{% block body %}
    {% if nieuwsItem %}
        <div class="card border-secondary text-white mb-2">
            {% if nieuwsItem.picturePath != "" %}
                <img class="card-img headerImage mainImage" src="{{ asset('uploads/') ~ nieuwsItem.picturePath }}" alt="Card image">
            {% else %}

            {% endif %}
            <div class="card-img-overlay">
                <h1 class="card-title centered headerTitle">{{ nieuwsItem.title }}</h1>
            </div>
        </div>

        <div class="jumbotron">
            <p class="lead blockquote-footer">{{ nieuwsItem.submitDate }} door {{ nieuwsItem.author }}</p>
            <hr class="my-4">
            <p>{{ nieuwsItem.description | raw}}</p>
            {% if app.user %}
                <a href="{{ path('editNieuwsItem', {'id': nieuwsItem.id}) }}" class="btn btn-warning text-light">
                    <i class="fas fa-edit"></i>&nbsp;&nbsp;
                    Edit
                </a>
                <a href="{{ path('deleteNieuwsItem', {'id': nieuwsItem.id}) }}" class="btn btn-danger text-light">
                    <i class="fas fa-trash"></i>&nbsp;&nbsp;
                    Delete
                </a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}

{% endblock %}