{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="text-center mb-3">
            <a class="btn btn-primary" href="{{ path('addNieuws') }}">Nieuws artikel toevoegen</a>
        </div>
    {% endif %}
    {% if nieuwsItems %}
        <div class="row">
        {% for item in nieuwsItems %}
            <div class="col-sm-100 mb-2 w-100">
                <div class="jumbotron" style="background: unset">
                    <div class="row">
                        {% if item.picturePath != "" %}
                            {% if loop.index%2 == 0 %}
                                <div class="col">
                                    <h1 class="display-5">{{ item.title }}</h1>
                                    <h6 class="card-subtitle mb-2 text-muted blockquote-footer">{{ item.submitDate }} door {{ item.author }}</h6>
                                    <hr class="my-4">
                                    <div class="card-text mb-0 w-100 h-100" style="max-height: 4rem;overflow: hidden;overflow-x: hidden;overflow-y: hidden;">{{ item.description | raw }}</div>
                                    <p class="lead">
                                        <a href="/nieuws/{{ item.id }}" class="card-link">Lees meer</a>
                                    </p>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img class="card-image" style=" width: 100%; display: block;" src="{{ asset('uploads/') ~ item.picturePath }}" alt="Card image">
                                    </div>
                                </div>
                            {% else %}
                                <div class="col">
                                    <div class="card">
                                        <img class="card-image" style=" width: 100%; display: block;" src="{{ asset('uploads/') ~ item.picturePath }}" alt="Card image">
                                    </div>
                                </div>
                                <div class="col">
                                    <h1 class="display-5">{{ item.title }}</h1>
                                    <h6 class="card-subtitle mb-2 text-muted blockquote-footer">{{ item.submitDate }} door {{ item.author }}</h6>
                                    <hr class="my-4">
                                    <div class="card-text mb-0 w-100 h-100" style="max-height: 4rem;overflow: hidden;overflow-x: hidden;overflow-y: hidden;">{{ item.description | raw}}</div>
                                    <p class="lead">
                                        <a href="/nieuws/{{ item.id }}" class="card-link">Lees meer</a>
                                    </p>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="w-100">
                                <h1 class="display-5">{{ item.title }}</h1>
                                <h6 class="card-subtitle mb-2 text-muted blockquote-footer">{{ item.submitDate }} door {{ item.author }}</h6>
                                <hr class="my-4">
                                <div class="card-text mb-0 w-100 h-100" style="max-height: 4rem;overflow: hidden;overflow-x: hidden;overflow-y: hidden;">{{ item.description | raw }}</div>
                                <p class="lead">
                                    <a href="/nieuws/{{ item.id }}" class="card-link">Lees meer</a>
                                </p>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}

{% endblock %}