{% extends 'base.html.twig' %}

{% block body %}

    {% if answers is defined and topics is defined %}
        {% if topics != [] %}
            <div class="text-center mb-3">
                <a class="btn btn-primary" href="{{ path('export', {'id': formId}) }}">
                    <i class="fas fa-file-export"></i>&nbsp;&nbsp;
                    Exporteren
                </a>
            </div>
        {% endif %}

        {% if exportedFile is defined %}
            <div>
                <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center ">
                            <h5>{{ exportedFile }}</h5>
                            <a class="btn btn-outline-success" href="{{ asset('/exports/')}}{{ exportedFile }}">
                                <i class="fas fa-download"></i>&nbsp;&nbsp;
                                Download
                            </a>
                        </li>
                </ul>
            </div>
        {% endif %}

        <table class="table table-hover">
            <thead>
            <tr>
                {% for topic in topics %}
                    <th scope="col">{{ topic }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for answer in answers %}
                <tr>
                    {% for topic in topics %}
                        <td>{{ answer.answers[topic] }}</td>
                    {% endfor %}
            {% endfor %}
            </tbody>
        </table>

        <div style="display: flex; justify-content: center; align-items: center;">
            {{ knp_pagination_render(answers) }}
        </div>
        {% if topics != [] %}
            <div class="text-center mb-3">
                <a class="btn btn-danger" onclick="removeRouteGuard()" href="#">
                    <i class="fas fa-eraser"></i>&nbsp;&nbsp;
                    Remove all answers
                </a>
            </div>
        {% endif %}

        {% if topics == [] %}
            <div class="d-flex justify-content-center w-100">
                <h5>Er zijn nog geen antwoorden ingediend!</h5>
            </div>
        {% endif %}
    {% else %}
        <div class="d-flex justify-content-center w-100">
            <h5>Er zijn nog geen antwoorden ingediend!</h5>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script>
        function removeRouteGuard(){
            var route = "{{ path('removeAllAnswers', {'id': formId})|escape('js') }}";
            var con = confirm("Are you sure you remove all answers? \nThis cannot be undone!");
            if(con){
                window.location.href = route.toString();
            }
        }
    </script>

{% endblock %}