{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center mb-3">
        <a class="btn btn-primary" href="{{ path('addStringElement', {'id': currentForm.id}) }}">
            <i class="fas fa-font"></i>&nbsp;&nbsp;
            Text
        </a>
        <a class="btn btn-primary" href="{{ path('addEmailElement', {'id': currentForm.id}) }}">
            <i class="fas fa-at"></i>&nbsp;&nbsp;
            Email
        </a>
        <a class="btn btn-primary" href="{{ path('addIntElement', {'id': currentForm.id}) }}">
            <i class="fas fa-sort-numeric-up-alt"></i>&nbsp;&nbsp;
            Getal
        </a>
        <a class="btn btn-primary" href="{{ path('addRadioElement', {'id': currentForm.id}) }}">
            <i class="fas fa-ellipsis-v"></i>&nbsp;&nbsp;
            Meerkeuze
        </a>
    </div>
    <div class="text-center mb-3">
        {% if currentForm.open == true %}
            <a class="btn btn-warning" href="{{ path('closeForm', {'id': currentForm.id}) }}">
                <i class="fas fa-lock"></i>&nbsp;&nbsp;Close form</a>
        {% else %}
            <a class="btn btn-warning" href="{{ path('openForm', {'id': currentForm.id}) }}">
                <i class="fas fa-unlock"></i>&nbsp;&nbsp;Open form</a>
        {% endif %}
    </div>
    {% if formElements %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Label</th>
                <th scope="col">Type</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for element in formElements %}
                <tr>
                    <td>{{ element.label }}</td>
                    <td>{{ element.type }}</td>
                    <td><a class="btn btn-danger" href="{{ path('removeElement', {'elId': element.id, 'id': currentForm.id, 'type': element.type}) }}">delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            {% if form is defined %}
                <hr>
                <div>
                    <div class="text-center mb-3">
                        <h3>Voorbeeld</h3>
                    </div>
                    {% if formTitle is defined%}
                        <h5 class="card-title text-center">{{ formTitle }}</h5>
                    {% endif %}
                    {{ form_start(form) }}
                    <div>
                        <hr>
                        {{ form_widget(form) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            {% endif %}
    {% endif %}
{% endblock %}

{% block javascripts %}

{% endblock %}