{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center mb-3">
        <a class="btn btn-primary" href="{{ path('addUser') }}">User toevoegen</a>
    </div>
    {% if users %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Role</th>
                <th scope="col">Naam</th>
                <th scope="col">Email</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th scope="col">Delete</th>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <th scope="col">Edit</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    {% if user.roles[0] == "ROLE_ADMIN" %}
                        <td><span class="badge badge-pill badge-danger">{{ user.roles[0] }}</span></td>
                    {% else %}
                        <td><span class="badge badge-pill badge-success">{{ user.roles[0] }}</span></td>
                    {% endif %}
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a class="btn btn-danger" href="{{ path('removeUser', {'id': user.id }) }}">delete</a></td>
                        <td><a class="btn btn-warning" href="#">edit</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <div style="display: flex; justify-content: center; align-items: center;">
        {{ knp_pagination_render(users) }}
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}