{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center mb-3">
        <a class="btn btn-primary" href="{{ path('addUser') }}">
            <i class="fas fa-user-plus"></i>&nbsp;&nbsp;
            User toevoegen
        </a>
    </div>
    {% if users %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Role</th>
                <th scope="col">Naam</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    {% if  1 in user.roles|keys %}
                        {% if 2 in user.roles|keys %}
                            <td><span class="badge badge-pill badge-danger">ADMIN</span></td>
                        {% else %}
                            <td><span class="badge badge-pill badge-warning">INSTR</span></td>
                        {% endif %}
                    {% else %}
                        <td><span class="badge badge-pill badge-success">USER</span></td>
                    {% endif %}
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td><a class="btn btn-info" href="{{ path('editUserPw', {'id': user.id}) }}">
                            <i class="fas fa-edit"></i>&nbsp;&nbsp;
                            Edit password
                        </a></td>
                    <td><a class="btn btn-warning" href="{{ path('editUser', {'id': user.id}) }}">
                            <i class="fas fa-edit"></i>&nbsp;&nbsp;
                            Edit
                        </a></td>
                    <td><a class="btn btn-danger" href="{{ path('removeUser', {'id': user.id }) }}">
                            <i class="fas fa-trash"></i>&nbsp;&nbsp;
                            Delete
                        </a></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <div style="display: flex; justify-content: center; align-items: center;">
        {{ knp_pagination_render(users) }}
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}