<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-0 fixed-top header" id="myHeader">
    <div class="container">
        <a href="/" class="navbar-brand mx-3">
            Duikclub Dolfijn
        </a>
        <!--

            <img src="{{ asset('images/logo.png') }}" class="navbar-logo mh-10 logo" style="max-height: 6rem;" alt="oops">
        -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/nieuws" class="nav-link">Nieuws</a>
                </li>
                <li class="nav-item">
                    <a href="/kalender" class="nav-link">Kalender</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">Foto's</a>
                </li>
                {% if pages is defined %}
                    {% for page in pages %}
                        <li class="nav-item">
                            <a href="/page/{{ page.id }}" class="nav-link">{{ page.navigationText }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
                <li class="nav-item dropdown show">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Info</a>
                    <div class="dropdown-menu" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                        <a class="dropdown-item" href="/leerduiken">Leren duiken</a>
                        <a class="dropdown-item" href="#">Regelement</a>
                        <a class="dropdown-item" href="#">Bestuur</a>
                        <a class="dropdown-item" href="#">Breveten</a>
                        <a class="dropdown-item" href="#">FAQ</a>
                        <a class="dropdown-item" href="#">Contact</a>
                    </div>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown show">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                        <div class="dropdown-menu">

                            <a class="dropdown-item" href="{{ path('addCalItem') }}">Kalender item toevoegen</a>
                            <a class="dropdown-item" href="{{ path('addNieuws') }}">Nieuws item toegoegen</a>
                            <a class="dropdown-item" href="{{ path('getAllPages') }}">Paginas beheren</a>
                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item" href="{{ path('forms') }}">Forms beheren</a>
                            <a class="dropdown-item" href="{{ path('addForm') }}">Form toevoegen</a>
                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item" href="{{ path('addUser') }}">Gebruiker aanmaken</a>
                            <a class="dropdown-item" href="{{ path('getUsers') }}">Gebruikers</a>
                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item" href="{{ path('logout') }}">Logout</a>

                        </div>
                    </li>
                {% endif %}

                {% if app.user %}
                    <li class="nav-item">
                        <a href="{{ path('logout') }}" class="nav-link">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('login') }}" class="nav-link">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>